@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* padding-top: 84px; */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #d2e9e7;
  color: #333;
}
